<!DOCTYPE html>
<html>
  <head>
    <title>Todo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
  </head>

  <body>
    <div data-role="page">
      <div data-role="header">
        <h1> testing code </h1>
      </div>
      <div role+"main"class="ui-content">
        <%= yield %>
      </div>
      <div data-role="footer">
        <h1> footer test </h1>
      </div>
    </div>
  </body>
</html>
